#b1,#b2,#b3,#b4,#b5,#b6,#b7
,#b8,#b9{
	 background-color: yellow;
	 height: 60px;
	 width: 300px;
	 border: 2px solid red;
	 border-radius: 10px;
	 padding: 0px;
	 text-align: center;
	 line-height: 65px   
}

#b01,#b02,#b03,#b04,#b05,#b06,#b07
,#b08,#b09{
	 background-color: yellow;
	 height: 60px;
	 width: 300px;
	 border: 2px solid red;
	 border-radius: 10px;
	 padding: 0px;
	 text-align: center;
	 line-height: 65px    
}